**3. Customer Classification**
Task:
* Add a new column named Customer_Tier based on the following mappings:
* Tier	
* Mapping Value

Gold	2
Silver	1
Bronze	0

In [1]:
server='DESKTOP-HJVSCEN\MSSQLSERVER1'
database='Python ETL'
username='sa'
password='Ka@12345678'

In [2]:
import urllib

ConnectionString = f"""
    DRIVER={{ODBC Driver 18 for SQL Server}};
    SERVER={server};
    DATABASE={database};
    UID={username};
    PWD={password};
    TrustServerCertificate=yes;
"""
# URL-encode the connection string for SQLAlchemy
params=urllib.parse.quote_plus(ConnectionString)

In [3]:
from sqlalchemy import create_engine
import pandas as pd

engine=create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

In [17]:
customer_df=pd.read_sql("SELECT * FROM cleaned_customer_phone",con=engine)
order_df=pd.read_sql("SELECT * FROM ORDERS",con=engine)
transaction_df=pd.read_sql("SELECT * FROM TRANSACTIONS",con=engine)

In [5]:
mappings={
    "Gold":0,
    "Silver":1,
    "Bronze":2
}

customer_df['loyalty_status_num']=customer_df['loyalty_status'].map(mappings)

In [10]:
# customer_df=customer_df.drop(columns=['loyalty_status','country_code_name','ISO2','CallingCode'])

Index(['customer_id', 'name', 'first_name', 'last_name', 'email', 'phone',
       'address', 'registration_date', 'Country', 'loyalty_status_num'],
      dtype='object')

In [11]:
customer_df.columns

Index(['customer_id', 'name', 'first_name', 'last_name', 'email', 'phone',
       'address', 'registration_date', 'Country', 'loyalty_status_num'],
      dtype='object')

In [13]:
new_order=['customer_id', 'name', 'first_name', 'last_name', 'email', 'phone',
       'address', 'registration_date', 'loyalty_status_num','Country']

In [14]:
customer_df=customer_df[new_order]

In [15]:
customer_df

,customer_id,name,first_name,last_name,email,phone,address,registration_date,loyalty_status_num,Country
0,1,Michelle Kidd,Michelle,Kidd,vayala@example.net,+971 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,0,United Arab Emirates
1,2,Brad Newton,Brad,Newton,taylorcatherine@example.net,+356 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,1,Malta
2,3,Larry Torres,Larry,Torres,dsanchez@example.net,+1 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,2,None
3,4,Kimberly Price,Kimberly,Price,jessicaknight@example.com,+1 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,0,Canada
4,5,Matthew Phillips,Matthew,Phillips,qwilliams@example.com,+1 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,0,None
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,Jerry,Mcdaniel,walkerlisa@example.net,+1 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,1,None
996,997,Jodi Simpson,Jodi,Simpson,eric24@example.org,+355 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,2,Albania
997,998,Crystal Brown,Crystal,Brown,pshaffer@example.net,+49 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,2,Germany
998,999,Gregory Duarte,Gregory,Duarte,caitlindunlap@example.org,+1 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,0,None
999,1000,Jason Walls,Jason,Walls,michael42@example.com,+692 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,2,Marshall Islands

In [16]:
customer_df.to_sql("cleaned_customers_status",con=engine,index=False,if_exists='replace')

164